<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Page lista</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<body>
		<h1>get_post</h1>
		<form>
			<fieldset class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
				<small class="text-muted">We'll never share your email with anyone else.</small>
			</fieldset>
			<fieldset class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter email">
			</fieldset>
			<fieldset class="form-group">
				<label for="exampleSelect1">Example select</label>
				<select class="form-control" id="eexampleSelect11" required>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</fieldset>
			<fieldset class="form-group">
				<label for="exampleSelect1">Example multiple select</label>
				<select multiple class="form-control" id="exampleSelect1" required>
						<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</fieldset>
			<fieldset class="form-group">
				<label for="exampleTextarea">Example textarea</label>
				<textarea class="form-control" id="exampleTextarea" rows="3" required></textarea>
			</fieldset>
			<fieldset class="form-group">
				<label for="exampleInputFile">File input</label>
				<input type="file" class="form-control-file" id="exampleInputFile" required>
				<small class="text-muted">This is some placeholder bEnter emaill>
			</fieldset>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked required>
					Option one is this and that&mdash;be sure to include why it's great
				</label>
			</div>
			<div class="radio">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" required>
					Option two can be something else and selecting it will deselect option one
				</label>
			</div>
			<div class="radio disabled">
				<label>
					<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled required>
					Option three is disabled
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" required> Check me out
				</label>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	</body>
</html>